/* fonts, etc. */


@font-face {
    font-family: gamefont;
    src: url(https://www.dl.dropboxusercontent.com/s/y3rk1wohlytkbrh/MS%20Gothic.ttf?dl=0);
}

@font-face {
    font-family: hpammo;
    src: url(https://www.dl.dropboxusercontent.com/s/y3rk1wohlytkbrh/MS%20Gothic.ttf?dl=0);
}

.rainbowText {
    background-image: linear-gradient(to right, #2e62ff, #0099ff, #00ff00, #ffde3b, #ff3399, #6666ff);
    animation: gradient-border 2s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
}

@keyframes gradient-border {

    0%,
    200% {
        background-position: 0 0;
    }

    99.999999999999999% {
        background-position: -130% 0;
    }
}

* {
    text-transform: lowercase !important;
}

#instructionHolder {
    z-index: -1;
    backdrop-filter: blur(1);
}

/* removal of ads */

#aContainer,
#aHolder,
#endAContainer,
#aMerger {
    display: none !important;
}

/* removal of useless stuff */

.youNewDiv,
#streamContainer,
#ot-sdk-btn-floating.ot-floating-button,
#seasonLabel,
#newsHolder,
#termsInfo,
#bubbleContainer,
#menuClassNameTag,
#mainLogo,
#uiBase.onMenu #instructions,
::-webkit-scrollbar,
#hudClassIcon,
#helpTxtHol {
    display: none !important;
}

/* buttons */

#faceItIconM,
#customizeButton .material-icons {
    display: none !important;
}

.button {
    background-color: transparent !important;
    box-shadow: none !important;
    color: var(--text) !important;
}

.button:hover {
    background-color: transparent !important;
    box-shadow: none !important;
    color: var(--accent) !important;
}

.headerBarLeft,
#mLevelCont {
    background-color: var(--menu-bg) !important;
    color: var(--text) !important;
}

.buttonP.lgn {
    background-color: transparent !important;
}

.button.small {
    top: 50px !important;
}

.quickJoin {
    background-color: var(--text);
    color: var(--accent)
}

#policeButton {
    position: fixed !important;
    transform: translate(-50%, -50%);
    bottom: 87.37% !important;
    right: 91.55% !important;
    background-color: var(--menu-bg) !important;
    border-radius: 0px !important;
}

#policeButton:hover {
    background-color: var(--accent) !important;
    transition: all 0.4s cubic-bezier(0.43, 0.32, 0.35, 1.32);
}

#accManagerBtn {
    position: fixed !important;
    transform: translate(-50%, -50%);
    top: 96% !important;
    left: 50% !important;
}


/* menu class container + customization button + kpd button fix */

#menuClassContainer {
    transform: unset;
}

#menuClassNameTag {
    display: none;
}

#bubbleContainer {
    display: none;
}

#menuClassName,
#menuClassSubtext {
    text-shadow: none;
}

#menuClassName {
    font-size: 28px;
}

#menuClassSubtext {
    color: var(--accent);
}

#customizeButton {
    width: 300px;
    height: 300px;
    position: fixed;
    right: 80px;
    bottom: 50%;
    transform: translateY(75%);
    font-size: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

#customizeButton .material-icons {
    display: none;
}

#menuClassName {
    display: none
}

#menuClassSubtext {
    margin-bottom: 120px;
    transform: translateY(140px);
    opacity: 0;
    font-size: 22px;
    transition: all 0.4s !Important;
}

#classPreviewCanvas {
    opacity: 0;
    transition: all 400ms !Important;
}

#menuClassContainer:hover>#classPreviewCanvas {
    opacity: 1;
}

#menuClassContainer:hover>#menuClassSubtext {
    opacity: 1;
}

#menuClassContainer:before {
    content: 'Customize';
    display: block;
    font-size: 24px;
    color: var(--text);
    transform: translateY(390px);
    transition: all 100ms !Important;
}

#menuClassContainer:hover:before {
    color: var(--accent) !important;
}


/* menu items */

.menuItemIcon {
    display: none !important;
}

.menuItem {
    background-color: var(--menu-bg) !important;
}

.menuItemTitle {
    font-size: 17px !important;
    text-shadow: 2px 2px 4px var(--accent) !important;
}

.menuItem:hover {
    background-color: var(--accent) !important;
    border-left: 12px solid var(--menu-bg) !important;
    transition: all 0.4s cubic-bezier(0.43, 0.32, 0.35, 1.32);
}


/* chat */

#voiceDisplay,
#chatSwitch:after {
    display: none !important;
}

#chatInput,
#chatList,
#chatInputHolder {
    background-color: transparent;
    border: none !important;
}

#chatHolder {
    transition: all 0.525s cubic-bezier(0.43, 0.32, 0.35, 1.32);
    transform: translate(-50%, -50%);
    position: fixed;
    bottom: -3% !important;
    left: 12% !important;
}

#chatInput {
    margin-left: -22%;
}


/* headerbar right */

.redditSocial,
.discordSocial,
.downloadClient,
#editorBtnM,
.verticalSeparator {
    display: none !important;
}

#headerRight {
    background-color: var(--menu-bg) !important;
}

/* menuwindow */

.serverPing {
    display: none !important;
}

#instructionsUpdate {
    background-color: var(--menu-bg) !important;
}

.settName,
.settNameSmall,
.setHed,
.setBodH,
#hostActionH,
.mFeatSepar {
    border: hidden !important;
    background: transparent !important;
}

.sliderVal,
.selectorItem,
.chalCard {
    border: hidden !important;
}

#menuWindowHider div[style="height:15px;margin-top:30px;border-top:4px solid rgba(255, 255, 255, 0.8);"] {
    display: none !important
}

#menuWindow,
.settingsHeader,
.serverHeader,
.bigMenTab,
.settingTab,
.selectorItem,
#selectorContainer,
.hostHeader,
#menuWindow .dark {
    background-color: var(--menu-bg) !important;
}

#idkr-menuWindow {
    background-color: var(--accent) !important;
    box-shadow: none !important;
}

.altlistelement {
    background-color: var(--menu-bg) !important;
    box-shadow: none !important;
}

.settingsBtn,
.loadoutBtn {
    background-color: var(--accent) !important;
    color: var(--text) !important;
}

.settLabel.blackShad {
    color: var(--text) !important;
}

.setHed {
    color: var(--text) !important;
}

#windowHolder {
    backdrop-filter: blur(3px);
}

/* sliders */

input:checked+.slider:after {
    visibility: visible;
    font-family: 'Material-Icons';
    content: 'check_box';
    font-size: 40px;
    position: relative;
    left: -7px;
    color: var(--text);
}

.slider {
    width: 28px !important;
    height: 28px !important;
    left: 16px;
    border-radius: 12px;
    transition: .2s !important;
}

.slider {
    visibility: hidden;
}

.slider:before {
    display: none !important;
}

.slider::after {
    visibility: visible;
    font-family: 'Material-Icons';
    content: 'indeterminate_check_box';
    font-size: 40px;
    position: relative;
    left: -7px;
    color: var(--accent)
}

/* spectate button */

#uiBase.onMenu #spectButton {
    z-index: 1;
    width: 96px;
    top: 50%;
}

#spectButton span[style="font-size:15px;color:rgba(255,255,255,0.6)"] {
    color: transparent !important;
}

#spectButton .switchsml {
    margin: 0;
    position: absolute;
    width: 100%;
}

.sliderSml {
    opacity: 1;
}

.sliderSml::before {
    content: "Spectate";
    font-size: 20px;
    color: var(--text);
    width: max-content;
    height: auto;
    background-color: transparent;
    text-align: center;
    transition-duration: 0.25s;
}

input:checked+.sliderSml::before {
    content: "Spectating";
    transform: translateX(-12px);
    color: var(--accent);
}

input:checked+.sliderSml {
    background-color: transparent !important;
}

.sliderSml {
    opacity: 1;
    background-color: transparent;
}

/* shop */
.shopCard {
    transition: font-size 0.25s ease;
    text-align: start;
    font-size: 0px;
    border-radius: 9px;
}

.shopCard:hover {
    font-size: 22px;
}

.shopCard:hover .spinVal {
    font-size: 18px;
}

.spinVal {
    text-align: start;
    font-size: 0px;
    background: transparent;
    position: absolute;
    bottom: -80px;
    text-indent: 5px;
    transition-duration: 0.25s;
}

/* host menu */

input:checked+.optCheck {
    background-color: var(--accent) !important;
    color: var(--text) !important;
}

.hostToggle,
.hostPresetBtn,
.accountButton {
    background-color: var(--menu-bg) !important;
    color: var(--text) !important;
}

.hostCBtn {
    background-color: var(--accent) !important;
    color: var(--text) !important;
}

.optCheck {
    background-color: var(--menu-bg) !important;
    color: var(--text) !important;
}

/* timer */

#timerDisplay {
    text-align: center;
    position: fixed;
    transform: translateX(-50%);
    top: 4 !important;
    left: 50%;
    width: 150px;
    height: 35px;
    padding: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: var(--ingame-bg-color);
    will-change: unset;
}

#timerVal {
    font-size: 28px;
    padding-left: 0;
    will-change: unset;
}

#timerIcon {
    display: none;
}

/* fps and ping */

#fpsDisplay {
    visibility: hidden;
}

#ingameFPS {
    color: var(--text) !important;
    visibility: visible;
}

#pingText {
    color: var(--text) !important;
}

#pingIcon {
    color: var(--accent) !important;
}

#pingDisplay .material-icons {
    font-size: 22px;
}

/* leaderboard */

#leaderDisplay {
    border-radius: 10px;
    background-color: var(--menu-bg);
}

.leaderName {
    color: var(--accent);
}

.newLeaderContainer {
    border-radius: 5px;
    background-color: var(--menu-bg);
}

.newLeaderName,
.newLeaderNameM,
.newLeaderNameF {
    color: var(--accent);
}

.leaderItem .material-icons {
    margin-top: 0 !important;
}



/* count icons */

.topRightCounters {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.countIcon {
    background-color: var(--menu-bg);
    border-radius: 0;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 7px;
}

.countIcon {
    background-color: transparent;
    color: var(--text);
    text-shadow: 2px 2px 4px #000;
    font-size: 30px;
}

#deathIcon,
#kdIcon,
#killIcon,
#streakIcon {
    height: 30px !important;
    width: 30px !important;
}


.kfItem {
    border-radius: 10px;
    background-color: var(--menu-bg);
}

#killStreakHolder {
    position: fixed;
    bottom: 75px;
    right: 15px;
    margin-right: 0;
    margin-bottom: 0;
}

.killStreakItem {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.topRightCounters {
    position: unset;
    bottom: unset;
    right: unset;
}

.countIcon {
    padding: 10px;
}

/* weapon display */

.weapItem {
    position: absolute;
    bottom: 0;
    right: 0;
}

.weapIcon {
    filter: brightness(100) drop-shadow(-2px 0px 1px var(--accent)) drop-shadow(0px 0px 1px var(--accent)) drop-shadow(2px 0px 1px var(--accent));
    opacity: 0 !important;
    transition-duration: 0.25s;
    height: 0;
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    bottom: 10%;
}

.weapIcon[style*="1"] {
    opacity: 1 !important;
    height: 70px;
}

#weapIconMel {
    margin: 0 !important;
}

.weapKey {
    display: none;
}

/* hp */

#healthValueHolder {
    background-color: transparent;
    width: 100px;
    height: 65px;
    border-radius: 10px;
    position: fixed;
    left: 30%;
    bottom: 25%;
    padding: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    align-items: center;
}

#healthValue {
    color: var(--hp-ammo);
    font-family: hpammo;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
    position: fixed;
    left: 125px;
    bottom: 25px;
    font-size: 96px;
    transform: translate(-50%, -50%);
    left: 46%;
}

#maxHP {
    display: none;
}

#healthBar {
    display: flex;
    z-index: 3;
    height: 10px;
    border: solid 3px #31313175;
    background-color: var(--menu-bg);
    width: 350px;
    position: fixed;
    left: 1px;
    bottom: 175px;
    left: 50% !important;
    transform: translateX(-50%);
    border-radius: 0px;
}

.healthBarSeg {
    border-radius: 0px;
    margin-right: -1px;
    background-color: transparent;
    width: -webkit-fill-available;
}

#challIcon {
    display: none !important;
}

/* ammo */

#ammoDisplay {
    background-color: transparent;
    letter-spacing: 2px;
    width: 100px;
    height: 65px;
    border-radius: 0;
    position: fixed;
    right: 31%;
    bottom: 25%;
    padding: 0;
    padding-top: 0;
    padding-left: 0;
    transform: none;
    background-image: linear-gradient(var(--accent), var(--accent)) !important;
}

#ammoVal {
    color: var(--hp-ammo);
    font-family: hpammo;
    margin-left: 12px;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
    position: fixed;
    font-size: 96px;
    right: 125px;
    bottom: 25px;
    transform: translate(-50%, -50%);
    right: 41.5%;
}

#ammoMax {
    display: none;
}


#ammoIcon {
    display: none !important;
}



#ammoDisplay {
    width: 50px;
    height: 5px;
    top: calc(50% + 35px);
    left: calc(50% - 25px);
}

/* reload message */

#reloadMsg {
    visibility: hidden;
}

#reloadMsg::after {
    visibility: visible;
    font-family: 'Material-Icons';
    content: 'warning';
    color: var(--accent);
    font-size: 45px;
    position: fixed;
    right: unset;
    left: 100px;
    bottom: 100px !important;
    transition-duration: 1s !important;
}

/* badges */

.menuClassPlayerPremium {
    color: var(--premium) !important;
}

.menuClassPlayerVerified {
    color: var(--premium) !important;
}

#leaderContainer i[style*="color:#FBC02D"] {
    color: var(--premium) !important;
}

#leaderContainer i[style*="color:#40C4FF"] {
    color: var(--verification) !important;
}